@font-face {
  font-family: Jenna Sue;
  src: url("/fonts/JennaSue.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Museo Sans;
  src: url("/assets/fonts/museo_sans/MuseoSans-100.otf") format("opentype"),
    url("/assets/fonts/museo_sans/MuseoSans-300.otf") format("opentype"),
    url("/assets/fonts/museo_sans/MuseoSans-500.otf") format("opentype"),
    url("/assets/fonts/museo_sans/MuseoSans-700.otf") format("opentype");

  font-weight: 100, 300, 500, 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Museo Sans, sans-serif;
  color: #7f7f7f;
  scroll-behavior: smooth;
}

/* .row-flex {
      display: flex;
      flex-wrap: wrap;
    } */

.header-color,
.border-color {
  color: #f98731;
}

.nav-section {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 99999;
  background-color: #fff;
}

.navbar {
  max-width: 1920px;
  margin: auto;
}

.cbag-logo {
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .logo {
    padding-left: 20px;
    margin-left: 10px;
  }
}

.cbag-menu {
  display: flex;
  margin-right: 50px;
}

.cbag-menu a {
  text-decoration: none;
  color: #7f7f7f;
  margin-left: 50px;
  padding-top: 10px;
}
.cbag-menu a.current-page {
  color: #333 !important;
}

/* @media screen and (max-width: 1023px) {
      .cbag-menu {
        display: none;
      }
    } */

#btn-class {
  color: #fff;
  padding: 10px 30px;
}

.btn-class {
  background: #f98731;
  border-radius: 5px;
}

.content-width {
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  /* max-width: 1140px; */
}

.tandc-ip {
  margin-top: 100px;
}
h1 {
  color: #f98731;
  font-weight: 400;
  font-size: 56px;
  /* margin: auto; */
}

.font-size-56 {
  font-size: 56px;
}

.tandc-tm {
  padding-bottom: 50px;
}

.footer {
  background-color: #1d1d1d;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* .footer-content {
      display: flex;
      justify-content: space-between;
    } */

@media screen and (max-width: 767px) {
  .footer-logo img {
    margin: auto;
  }
}
.cbag-footer-tc {
  padding-top: 15px;
}

a.footer-terms {
  color: #676767;
  text-decoration: none;
}

.footer-social {
  padding-top: 15px;
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-end;
  /* margin: auto; */
}

@media screen and (max-width: 767px) {
  .footer-social {
    padding-top: 25px;
    display: flex;
    justify-content: center;
  }

  .footer-terms {
    padding-top: 25px;
  }
}

.footer-social i {
  padding-left: 8px;
  color: #e5028b;
}

/* Our Story Page */

.our-story-hero-image {
  max-width: 680px;
  margin: auto;
  padding-top: 50px;
}
.our-story-hero-image img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  br.our-story {
    display: none;
  }
}

.our-story-one {
  background-image: url("/images/our-story-bg.png");
  background-size: cover;
  border-bottom: 1px solid rgba(249, 135, 49, 0.7);
}

.our-story-content {
  /* padding-top: 50px; */
}
/* .section-spacing {
      padding: 50px 0px;
    } */

.download-brandbook {
  margin-top: 50px;
}

.download-brandbook a {
  background-color: #f98731;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 10px;
}

.download-brandbook a,
i {
  color: #fff;
}
.center-content {
  margin: auto;
}

.who-we-are {
  /* border-top: 1px solid #f98731;
      border-bottom: 1px solid #f98731; */
  padding: 50px 0px;
}

.who-we-are-image {
  max-width: 500px;
}
.who-we-are-image img {
  width: 100%;
}

.mv-div {
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #f98731;
  padding: 15px;
  border-bottom: 1px solid #f98731;
}

@media screen and (max-width: 767px) {
  .our-mission {
    margin-bottom: -40px;
  }
}

.bg-padding-top {
  padding-top: 100px;
}

.similar-height {
  height: 5vh;
  margin-bottom: 10px;
}

.mv-div h5 {
  color: #fff;
}
.mv-div p {
  color: #fff;
}

.what-we-believe {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  /* padding-bottom: 100px; */
}
.what-we-believe p {
  margin-bottom: 100px;
}

.our-story-video {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 945px;
  margin: auto;
}

.our-story-video img {
  width: 100%;
}

.our-brand-values {
  padding-bottom: 100px;
}
.our-brand-values a {
  background-color: #f98731;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 10px;
  color: #fff;
}

/* Our Values Page */

.our-values-hero {
  padding-top: 80px;
  padding-bottom: 120px;
}

.our-values-hero-image img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .our-values-hero-image {
    margin-top: 50px;
  }
}

.our-values-content {
  margin: auto;
}

.our-values {
  padding-top: 100px;
  padding-bottom: 100px;
}

.our-values-grid {
  padding: 30px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  margin-bottom: 30px;
}

.our-values-grid:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.values-icon {
  height: 50px;
  margin-bottom: 20px;
}

/* Brand Asset Guide Child Page */

.primary-logo-suite {
  max-width: 700px;
}

.primary-logo-suite img {
  width: 100%;
}

.secondary-logo {
  max-width: 700px;
  margin-bottom: 30px;
}
.secondary-logo img {
  width: 100%;
}

.tone-of-voice {
  margin-top: 100px;
}

.bg-spacing {
  margin-bottom: 100px;
}
.bg-spacing-top-half {
  margin-top: 50px;
}

.bg-spacing-top {
  margin-top: 100px;
}

#logomisuse {
  margin-top: 100px;
}
.logo-misuse-div {
  max-width: 800px;
}

.practice-management {
  margin: auto;
}
.main-colors {
  display: flex;
  max-width: 500px;
  margin-bottom: 20px;
}

.color-box {
  height: 266px;
  width: 266px;
  background-color: #ed135d;
}

.color-codes {
  margin: auto;
}

.color-code {
  margin-bottom: 30px;
}

.color-box-two {
  height: 266px;
  width: 266px;
  background-color: #f47424;
}

.color-box-neutrals {
  height: 266px;
  width: 266px;
  background-color: #404040;
}
.color-box-neutrals-two {
  height: 266px;
  width: 266px;
  background-color: #737373;
}

.primary-typeface {
  padding: 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}

.primary-typeface:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.typeface-color {
  width: 50px;
  height: 30px;
  background-color: #404040;
}
.typeface-color-body {
  width: 50px;
  height: 30px;
  background-color: #737373;
}
.typeface-color-link {
  width: 50px;
  height: 30px;
  background-color: #f8a94c;
}
.typeface-color-link-color td {
  color: #f8a94c;
}
.table-size {
  max-width: 820px;
}
.illustration-style-div {
  margin-bottom: 50px;
}
.bg-spacing-top-30 {
  margin-top: 30px;
}
.bg-spacing-top-10 {
  margin-top: 10px;
}
.figma-ps-xd {
  margin-left: 10px;
  margin-top: 30px;
}

/* .ba-child-page {
      display: flex;
    }
    .sidebar-content {
      display: grid;
    } */
#bag-sidemenu {
  /* margin-top: 2px; */
  padding-top: 100px;
  padding-right: 30px;
  padding-bottom: 100px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
#bag-sidemenu a {
  text-decoration: none;
  color: #737373;
}
#bag-sidemenu a:hover {
  color: #f98731;
}
#bag-sidemenu a:active {
  color: #f98731;
}

/* .bag-kit-header {
  position: relative;
} */

.bag-sidebar {
  position: relative;
  /* top: 0; */
}

#bag-sidemenu {
  position: sticky;
  top: 0;
}

.bag-sidebar ul,
li {
  list-style-type: none;
}

.illustration-element {
  max-width: 300px;
}

.illustration-element img {
  width: 100%;
}

.facebook-creative {
  max-width: 800px;
}

.facebook-creative img {
  width: 100%;
}
.linkedin-creative {
  max-width: 800px;
}

.linkedin-creative img {
  width: 100%;
}
.instagram-creative {
  max-width: 800px;
}

.instagram-creative img {
  width: 100%;
}
.twitter-creative {
  max-width: 800px;
}

.twitter-creative img {
  width: 100%;
}
.blog-layout {
  max-width: 800px;
}

.blog-layout img {
  width: 100%;
}
